<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/globemed_db?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">userpass</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Entity mappings -->
        <mapping class="com.jamith.globemedhms.core.entities.Staff"/>
        <mapping class="com.jamith.globemedhms.core.entities.AuditLog"/>
        <mapping class="com.jamith.globemedhms.core.entities.Patient"/>
        <mapping class="com.jamith.globemedhms.core.entities.Appointment"/>
        <mapping class="com.jamith.globemedhms.core.entities.Billing"/>
        <mapping class="com.jamith.globemedhms.core.entities.InsuranceClaim"/>
    </session-factory>
</hibernate-configuration>